"Resources": {
  "AWSEBLoadBalancer": {
    "Type" : "AWS::ElasticLoadBalancing::LoadBalancer",
    "Properties": {
      "HealthCheck": {
        "HealthyThreshold": "3",
        "Interval": "30",
        "Target": "TCP:9090",
        "Timeout": "5",
        "UnhealthyThreshold": "5"
      },
      "Policies": [
        {
          "PolicyName": "EnableProxyProtocol",
          "PolicyType": "ProxyProtocolPolicyType",
          "Attributes": [
            {
              "Name": "ProxyProtocol",
              "Value": "true"
            }
          ],
          "InstancePorts": [
            "9090"
          ]
        }
      ],
      "Listeners": [
        {
          "LoadBalancerPort" : "9090",
          "InstancePort" : "9090",
          "Protocol" : "TCP"
        }
      ]
    }
  }
}